[Unit]
Description=Node Exporter Service
After=network.target

[Service]
User=nexpuser
Group=nexpuser
Type=simple
ExecStart=/usr/local/bin/node_exporter  --collector.tcpstat --collector.ethtool
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target